<header>
  <h1>TinyApp</h1>
  <% if (user) { %>
  <p>User: <%= user['email'] %></p>
  <a href="/login"><button type="submit" >Logout</button></a>
  <% } else  { %>
    <a href="/Register">Register</a>
  <% } %>
  <p><a href="/urls/new" >Make new one</a><p><a href="/urls">Show all</a></p></p>
</header>