<header>
  <h1>TinyApp</h1>
  <% if (user) { %>
  <p>User: <%= user['email'] %></p>
  <form method="POST" action="/logout">
    <button>Logout</button>
  </form>
  <% } else  { %>
  <ul>
    <li><a href="/Login">Login</a></li>
    <li><a href="/Register">Register</a></li>
  </ul>
  <% } %>
</header>