<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header %>
  <p><a href="/urls">Show all</a></p>
  <form action="/urls/<%= shortURL %>" method="POST">
    <p> shortURL : <%= shortURL %></p>
    <input id="longURL" type="text" name="longURL" value= "<%= longURL %>">
    <input type="submit" value="Update">
  </form>
</body>
</html>