<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body>
  <header>
    <h1>TinyApp</h1>
  </header>
  <label>Register:</label>
  <fieldset style="width: 35%">
    <form method="POST" action="/register">
        <label>Email:</label>
        <input type="email" name="email" placeholder="email@email.ca">
        <label>Password:</label>
        <input type="password" name="password">
        <button type="submit">Submit</button>
    </form>
  </fieldset>
</body>
</html>