<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header %>
  <ul>
    <% Object.keys(urls).forEach(function (key) { %>
     <li><%= key %> : <%= urls[key] %></li>
      <% var urlID = "/urls/" + key + "/delete/" %>
      <form method = "POST" action = <%= urlID %>>
        <button> Delete </button>
      </form>
    <% }) %>
  </ul>
</body>
</html>