<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
    <h1>TinyApp</h1>
    <h3>Login</h3>
  </header>
  <form method="POST" action="/login">
    <label>Login:</label>
    <fieldset style="width: 25%">
      <label>Email:</label>
        <input type="email" name="email" placeholder="email@email.ca">
      <label>Password:</label>
      <input type="password" name="password">
      <button type="submit">Login</button>
    </fieldset>
    <a href="/register">Register</a>
  </form>
</body>
</html>