<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header %>
  <ul>
    <% Object.keys(urls).forEach(function (key) { %>
     <li><%= key %> : <%= urls[key] %></li>
    <% }) %>
  </ul>
</body>
</html>